:root {
  --primary-color: #e50914;
  --primary-color-hover: #ff1a2e;
  --bg-dark: #000;
  --bg-darker: #000;
  --text-grey: #c8c8d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
