* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0a0a0a;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
